builds/card-list-empty.html
<!DOCTYPE html>
<html class="no-js" lang="ru">
    <!-- card offers-->

    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>default title</title>
        <meta content="" name="description">
        <meta content="" name="keywords">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta content="telephone=no" name="format-detection">
        <meta name="HandheldFriendly" content="true">
        <!-- demo style-->
        <link href="static/css/separate-css/inline-css.css" rel="stylesheet" type="text/css">
        <link href="static/css/separate-css/np2.css" rel="stylesheet" type="text/css">
        <!-- demo style-->
        <link href="static/css/separate-css/swiper-4.4.6/css/swiper.min.css" rel="stylesheet" type="text/css">

        <!--[if (gt IE 9)|!(IE)]><!-->
        <link href="static/css/main.min.css" rel="stylesheet" type="text/css">
        <!--<![endif]-->
        <link href="https://fonts.googleapis.com/css?family=Roboto:400,500,700&amp;subset=cyrillic" rel="stylesheet">
        <meta property="og:title" content="#{data.title}">
        <meta property="og:title" content="">
        <meta property="og:url" content="">
        <meta property="og:description" content="">
        <meta property="og:image" content="">
        <meta property="og:image:type" content="image/jpeg">
        <meta property="og:image:width" content="500">
        <meta property="og:image:height" content="300">
        <meta property="twitter:description" content="">
        <link rel="image_src" href="">
        <link rel="icon" type="image/x-icon" href="favicon.ico">
        <script>
            (function(H){H.className=H.className.replace(/\bno-js\b/,'js')})(document.documentElement)
        </script>
    </head>

    <body class="page page--card-list br no-branding">
        <svg xmlns="http://www.w3.org/2000/svg" style="border: 0 !important; clip: rect(0 0 0 0) !important; height: 1px !important; margin: -1px !important; overflow: hidden !important; padding: 0 !important; position: absolute !important; width: 1px !important;"
        class="root-svg-symbols-element">
            <symbol id="n-add-speachbuble" viewBox="0 0 24 24">
                <path fill="#FFF" class="st0" d="M7.7 7.1H16.4V15H7.7z" />
                <path d="M18.4,5H5.6C4.7,5,4,5.7,4,6.6V21l3.2-3.2h11.2c0.9,0,1.6-0.7,1.6-1.6V6.6C20,5.7,19.3,5,18.4,5z M13.8,12.1h-0.9V13	c0,0.5-0.4,0.9-0.9,0.9s-0.9-0.4-0.9-0.9v-0.9h-0.9c-0.5,0-0.9-0.4-0.9-0.9s0.4-0.9,0.9-0.9h0.9V9.4c0-0.5,0.4-0.9,0.9-0.9	s0.9,0.4,0.9,0.9v0.9h0.9c0.5,0,0.9,0.4,0.9,0.9C14.7,11.7,14.3,12.1,13.8,12.1z"
                />
            </symbol>
            <symbol id="n-arrow-left" viewBox="0 0 24 24">
                <path d="M5.4,11l9-8.6c0.6-0.6,1.5-0.6,2.1,0c0.6,0.6,0.6,1.5,0,1.9l-8,7.6l8,7.7c0.6,0.6,0.6,1.5,0,1.9c-0.6,0.6-1.5,0.6-2.1,0 l-9-8.5c-0.3-0.3-0.5-0.8-0.5-1.1S5.1,11.2,5.4,11z" />
            </symbol>
            <symbol id="n-check" viewBox="0 0 10 8">
                <path d="M0.115385 4.4C0.0384615 4.32 0 4.2 0 4.12C0 4.04 0.0384615 3.92 0.115385 3.84L0.653846 3.28C0.807692 3.12 1.03846 3.12 1.19231 3.28L1.23077 3.32L3.34615 5.68C3.42308 5.76 3.53846 5.76 3.61538 5.68L8.76923 0.12H8.80769C8.96154 -0.04 9.19231 -0.04 9.34615 0.12L9.88462 0.68C10.0385 0.84 10.0385 1.08 9.88462 1.24L3.73077 7.88C3.65385 7.96 3.57692 8 3.46154 8C3.34615 8 3.26923 7.96 3.19231 7.88L0.192308 4.52L0.115385 4.4Z"
                fill="#5774DA" />
            </symbol>
            <symbol id="n-dotted" viewBox="0 0 24 24">
                <circle cx="12" cy="12" r="6" />
            </symbol>
            <symbol id="n-emo-angry" viewBox="0 0 24 24">
                <path d="M18.5,3h-13C4.1,3,3,4.1,3,5.5v12.9C3,19.9,4.1,21,5.5,21h12.9c1.4,0,2.5-1.1,2.5-2.5v-13C21,4.1,19.9,3,18.5,3z M7.2,9.4	c0-0.9,0.7-1.6,1.6-1.6s1.6,0.7,1.6,1.6S9.7,11,8.8,11S7.2,10.3,7.2,9.4z M7.9,16.7c0-2.2,1.8-4.1,4.1-4.1s4.1,1.8,4.1,4.1H7.9z M15.2,11c-0.9,0-1.6-0.7-1.6-1.6c0-0.9,0.7-1.6,1.6-1.6s1.6,0.7,1.6,1.6C16.8,10.3,16.1,11,15.2,11z"
                />
            </symbol>
            <symbol id="n-emo-best" viewBox="0 0 24 24">
                <path d="M18.5,3H5.5C4.1,3,3,4.1,3,5.5v12.9C3,19.9,4.1,21,5.5,21h12.9c1.4,0,2.5-1.1,2.5-2.5V5.5C21,4.1,19.9,3,18.5,3z M7.2,9.4	c0-0.9,0.7-1.6,1.6-1.6s1.6,0.7,1.6,1.6c0,0.9-0.7,1.6-1.6,1.6S7.2,10.3,7.2,9.4z M12,17.3c-2.2,0-4.1-1.8-4.1-4.1h8.1	C16.1,15.5,14.2,17.3,12,17.3z M15.2,11c-0.9,0-1.6-0.7-1.6-1.6c0-0.9,0.7-1.6,1.6-1.6c0.9,0,1.6,0.7,1.6,1.6	C16.8,10.3,16.1,11,15.2,11z"
                />
            </symbol>
            <symbol id="n-emo-good" viewBox="0 0 24 24">
                <path d="M18.5,3H5.5C4.1,3,3,4.1,3,5.5v12.9C3,19.9,4.1,21,5.5,21h12.9c1.4,0,2.5-1.1,2.5-2.5V5.5C21,4.1,19.9,3,18.5,3z M8.8,7.9	c0.9,0,1.6,0.7,1.6,1.6c0,0.9-0.7,1.6-1.6,1.6s-1.6-0.7-1.6-1.6C7.2,8.6,7.9,7.9,8.8,7.9z M12.2,16.5c-2.7,0-4.8-1.5-4.8-1.5	l0.7-0.9c0.2,0.1,4,2.9,7.9,0l0.7,0.9C15.1,16.1,13.5,16.5,12.2,16.5z M15.2,11c-0.9,0-1.6-0.7-1.6-1.6c0-0.9,0.7-1.6,1.6-1.6	c0.9,0,1.6,0.7,1.6,1.6C16.8,10.3,16.1,11,15.2,11z"
                />
            </symbol>
            <symbol id="n-emo-no" viewBox="0 0 24 24">
                <path d="M18.5,3H5.5C4.1,3,3,4.1,3,5.5v12.9C3,19.9,4.1,21,5.5,21h12.9c1.4,0,2.5-1.1,2.5-2.5V5.5C21,4.1,19.9,3,18.5,3z M7.2,9.4	c0-0.9,0.7-1.6,1.6-1.6s1.6,0.7,1.6,1.6c0,0.9-0.7,1.6-1.6,1.6S7.2,10.3,7.2,9.4z M15.4,15.8H8.6v-1.1h6.8V15.8z M15.2,11	c-0.9,0-1.6-0.7-1.6-1.6c0-0.9,0.7-1.6,1.6-1.6c0.9,0,1.6,0.7,1.6,1.6C16.8,10.3,16.1,11,15.2,11z"
                />
            </symbol>
            <symbol id="n-emo-soso" viewBox="0 0 24 24">
                <path d="M18.5,3H5.5C4.1,3,3,4.1,3,5.5v12.9C3,19.9,4.1,21,5.5,21h12.9c1.4,0,2.5-1.1,2.5-2.5V5.5C21,4.1,19.9,3,18.5,3z M8.8,7.9	c0.9,0,1.6,0.7,1.6,1.6c0,0.9-0.7,1.6-1.6,1.6s-1.6-0.7-1.6-1.6C7.2,8.6,7.9,7.9,8.8,7.9z M15.9,16.4c-3.9-2.9-7.7-0.1-7.9,0	l-0.7-0.9c0,0,4.7-3.4,9.2,0L15.9,16.4z M15.2,11c-0.9,0-1.6-0.7-1.6-1.6c0-0.9,0.7-1.6,1.6-1.6c0.9,0,1.6,0.7,1.6,1.6	C16.8,10.3,16.1,11,15.2,11z"
                />
            </symbol>
            <symbol id="n-external-link" viewBox="0 0 24 24">
                <path d="M18.5,4.6h-8.3C9.6,4.6,9.2,5,9.2,5.5s0.4,0.9,0.9,0.9h6.1L4.9,17.8l1.3,1.3L17.5,7.8v6.1c0,0.5,0.4,0.9,0.9,0.9	s0.9-0.4,0.9-0.9V5.5C19.4,5,19,4.6,18.5,4.6z" />
            </symbol>
            <symbol id="n-fullscreen" viewBox="0 0 24 24">
                <path d="M20.2,3.3h-4.8c-0.3,0-0.5,0.2-0.5,0.5s0.2,0.5,0.5,0.5h3.5L13,10.2l0.8,0.8l5.9-5.9v3.5c0,0.3,0.2,0.5,0.5,0.5	c0.3,0,0.5-0.2,0.5-0.5V3.8C20.7,3.5,20.5,3.3,20.2,3.3z" />
                <path d="M10.2,13l-5.9,5.9v-3.5c0-0.3-0.2-0.5-0.5-0.5s-0.5,0.2-0.5,0.5v4.8c0,0.3,0.2,0.5,0.5,0.5h4.8c0.3,0,0.5-0.2,0.5-0.5	c0-0.3-0.2-0.5-0.5-0.5H5.1l5.9-5.9L10.2,13z" />
            </symbol>
            <symbol id="n-highway" viewBox="0 0 24 24">
                <path d="M5.4,7.1C5.6,6.5,6.2,6,6.9,6h4.4v4.5h1.5V6h4.4c0.7,0,1.3,0.5,1.5,1.1l2.4,9c0.2,1-0.5,1.9-1.5,1.9h-6.8v-4.5h-1.5V18H4.5	c-1,0-1.7-0.9-1.5-1.9L5.4,7.1z" />
            </symbol>
            <symbol id="n-local" viewBox="0 0 24 24">
                <path d="M12,4c-3.3,0-6,2.8-6,6.2c0,4.2,5.4,10.4,5.6,10.7c0.2,0.2,0.6,0.2,0.8,0c0.2-0.3,5.6-6.4,5.6-10.7C18,6.8,15.3,4,12,4z M12,13.3c-1.7,0-3-1.4-3-3.1c0-1.7,1.4-3.1,3-3.1c1.7,0,3,1.4,3,3.1C15,11.9,13.7,13.3,12,13.3z" />
            </symbol>
            <symbol id="n-location" viewBox="0 0 24 24">
                <path d="M12,4c-3.3,0-6,2.8-6,6.2c0,4.2,5.4,10.4,5.6,10.7c0.2,0.2,0.6,0.2,0.8,0c0.2-0.3,5.6-6.4,5.6-10.7C18,6.8,15.3,4,12,4z M12,13.3c-1.7,0-3-1.4-3-3.1c0-1.7,1.4-3.1,3-3.1s3,1.4,3,3.1C15,11.9,13.7,13.3,12,13.3z" />
            </symbol>
            <symbol id="n-messages" viewBox="0 0 24 24">
                <path d="M20.8,4H3.2C2,4,1,5,1,6.1l0,11.8C1,19,2,20,3.2,20h17.6c1.2,0,2.2-1,2.2-2.1V6.1C23,5,22,4,20.8,4z M20.8,8.2L12,13.6	L3.2,8.2V6.1l8.8,5.3l8.8-5.3V8.2z" />
            </symbol>
            <symbol id="n-minus" viewBox="0 0 24 24">
                <path d="M21,12L21,12c0,0.6-0.4,1-1,1H4c-0.6,0-1-0.4-1-1l0,0c0-0.6,0.4-1,1-1h16C20.6,11,21,11.4,21,12z" />
            </symbol>
            <symbol id="n-notification" viewBox="0 0 24 24">
                <path d="M12.1,22c1,0,1.9-0.9,1.9-1.9h-3.8C10.2,21.1,11,22,12.1,22z M18.2,16.3v-5.2c0-2.9-2-5.4-4.8-6V4.4c0-0.8-0.6-1.4-1.4-1.4	s-1.4,0.6-1.4,1.4v0.6c-2.7,0.6-4.7,3.1-4.7,6v5.2L4,18.2v0.9h16.1v-0.9L18.2,16.3z" />
            </symbol>
            <symbol id="n-photo" viewBox="0 0 24 24">
                <path d="M12.2,10.3c-1.3,0-2.4,1.1-2.4,2.5s1.1,2.5,2.4,2.5s2.4-1.1,2.4-2.5S13.5,10.3,12.2,10.3z M21,7.5V19H3V7.5h3.5	c0.5,0,1-0.3,1.3-0.7L8.9,5h6.4l1.1,1.8c0.3,0.5,0.8,0.7,1.3,0.7H21z M5.7,10.9c0-0.5-0.4-0.8-0.8-0.8c-0.4,0-0.8,0.4-0.8,0.8	s0.4,0.8,0.8,0.8C5.4,11.7,5.7,11.3,5.7,10.9z M16.2,12.8c0-2.3-1.8-4.2-4-4.2c-2.2,0-4,1.9-4,4.2s1.8,4.2,4,4.2	C14.4,17,16.2,15.2,16.2,12.8z"
                />
            </symbol>
            <symbol id="n-plate" viewBox="0 0 24 24">
                <path d="M5.3,4C4.6,4,4,4.6,4,5.3v4.2c0,0.7,0.6,1.3,1.3,1.3h4.2c0.7,0,1.3-0.6,1.3-1.3V5.3c0-0.7-0.6-1.3-1.3-1.3H5.3z M14.5,4 c-0.7,0-1.3,0.6-1.3,1.3v4.2c0,0.7,0.6,1.3,1.3,1.3h4.2c0.7,0,1.3-0.6,1.3-1.3V5.3C20,4.6,19.4,4,18.7,4H14.5z M4,14.5 c0-0.7,0.6-1.3,1.3-1.3h4.2c0.7,0,1.3,0.6,1.3,1.3v4.2c0,0.7-0.6,1.3-1.3,1.3H5.3C4.6,20,4,19.4,4,18.7V14.5z M14.5,13.1 c-0.7,0-1.3,0.6-1.3,1.3v4.2c0,0.7,0.6,1.3,1.3,1.3h4.2c0.7,0,1.3-0.6,1.3-1.3v-4.2c0-0.7-0.6-1.3-1.3-1.3H14.5z"
                />
            </symbol>
            <symbol id="n-plus" viewBox="0 0 24 24">
                <path d="M12,3c-0.6,0-1,0.4-1,1v7H4c-0.6,0-1,0.4-1,1s0.4,1,1,1h7v7c0,0.6,0.4,1,1,1s1-0.4,1-1v-7h7c0.6,0,1-0.4,1-1s-0.4-1-1-1h-7	V4C13,3.4,12.6,3,12,3z" />
            </symbol>
            <symbol id="n-speachbuble" viewBox="0 0 24 24">
                <path d="M18.4,5H5.6C4.7,5,4,5.7,4,6.6V21l3.2-3.2h11.2c0.9,0,1.6-0.7,1.6-1.6V6.6C20,5.7,19.3,5,18.4,5z" />
            </symbol>
            <symbol id="n-trash" viewBox="0 0 24 24">
                <path d="M18.7,6.7c0.1,0,0.2,0,0.2,0.1C19,6.8,19,6.9,19,7v0.7c0,0.1,0,0.2-0.1,0.2C18.9,8,18.8,8,18.7,8h-1v9.9	c0,0.6-0.2,1.1-0.5,1.5c-0.3,0.4-0.7,0.6-1.1,0.6H7.9c-0.4,0-0.8-0.2-1.1-0.6c-0.3-0.4-0.5-0.9-0.5-1.5V8h-1C5.2,8,5.1,8,5.1,7.9	C5,7.8,5,7.8,5,7.7V7c0-0.1,0-0.2,0.1-0.2c0.1-0.1,0.1-0.1,0.2-0.1h3.1l0.7-1.7c0.1-0.3,0.3-0.5,0.5-0.7C9.9,4.1,10.1,4,10.4,4h3.2	c0.3,0,0.5,0.1,0.8,0.3c0.3,0.2,0.4,0.4,0.5,0.7l0.7,1.7H18.7z M10.4,5.3c-0.1,0-0.1,0.1-0.2,0.1L9.8,6.7h4.5l-0.5-1.2	c0-0.1-0.1-0.1-0.2-0.1H10.4z M16.4,18.3c0-0.1,0.1-0.3,0.1-0.4h0V8H7.5v9.9c0,0.2,0,0.3,0.1,0.4c0,0.1,0.1,0.2,0.1,0.3	c0,0.1,0.1,0.1,0.1,0.1h8.3c0,0,0.1,0,0.1-0.1C16.3,18.5,16.3,18.4,16.4,18.3z M9.8,16.7H9.1c-0.1,0-0.2,0-0.2-0.1	c-0.1-0.1-0.1-0.1-0.1-0.2v-6c0-0.1,0-0.2,0.1-0.2C9,10,9,10,9.1,10h0.6c0.1,0,0.2,0,0.2,0.1c0.1,0.1,0.1,0.1,0.1,0.2v6	c0,0.1,0,0.2-0.1,0.2C9.9,16.6,9.9,16.7,9.8,16.7z M11.7,16.7h0.6c0.1,0,0.2,0,0.2-0.1c0.1-0.1,0.1-0.1,0.1-0.2v-6	c0-0.1,0-0.2-0.1-0.2C12.5,10,12.4,10,12.3,10h-0.6c-0.1,0-0.2,0-0.2,0.1c-0.1,0.1-0.1,0.1-0.1,0.2v6c0,0.1,0,0.2,0.1,0.2	C11.5,16.6,11.6,16.7,11.7,16.7z M14.9,16.7h-0.6c-0.1,0-0.2,0-0.2-0.1c-0.1-0.1-0.1-0.1-0.1-0.2v-6c0-0.1,0-0.2,0.1-0.2	c0.1-0.1,0.1-0.1,0.2-0.1h0.6c0.1,0,0.2,0,0.2,0.1c0.1,0.1,0.1,0.1,0.1,0.2v6c0,0.1,0,0.2-0.1,0.2C15,16.6,15,16.7,14.9,16.7z"
                />
            </symbol>
            <symbol id="n-user" viewBox="0 0 24 24">
                <path d="M12,2C6.5,2,2,6.5,2,12s4.5,10,10,10s10-4.5,10-10S17.5,2,12,2z M12,5c1.7,0,3,1.3,3,3c0,1.7-1.3,3-3,3S9,9.7,9,8 C9,6.3,10.3,5,12,5z M12,19.2c-2.5,0-4.7-1.3-6-3.2c0-2,4-3.1,6-3.1s6,1.1,6,3.1C16.7,17.9,14.5,19.2,12,19.2z" id="mask1" />
            </symbol>
            <symbol id="n-video" viewBox="0 0 24 24">
                <path d="M17.7,5.1C15,5,9,5,6.3,5.1C3.4,5.4,3,7.2,3,12s0.4,6.6,3.3,6.9C9,19,15,19,17.7,18.9c2.9-0.2,3.3-2,3.3-6.9	C21,7.2,20.6,5.4,17.7,5.1z M9.8,15.1V8.9l6,3.1L9.8,15.1z" />
            </symbol>
        </svg>
        <section class="pn2-section-main d-flex">
            <section class="page__wrapper">
                <div class="page__content">
                    <div class="container-fluid --extend-space">
                        <div class="page__row row">
                            <div class="page__col col">
                                <main class="page__main --overhide" id="main">
                                    <nav class="page__breadcrumb" aria-label="breadcrumb">
                                        <div class="n-breadcrumb">
                                            <ul class="n-breadcrumb__list">
                                                <li class="n-breadcrumb__item"><a class="n-breadcrumb__link" href="#" title="Москва">Москва</a>
                                                </li>
                                                <li class="n-breadcrumb__item is-active"><a class="n-breadcrumb__link" href="#" title="Новостройки">Новостройки</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </nav>
                                    <div class="n-card-list n-card-list--empty">
                                        <div class="n-card-list__body">
                                            <div class="n-card-list__media">
                                                <img class="n-card-list__img" src="static/img/assets/card-list/404-img.svg" height="73px" width="73px" alt="Ничего не найдено">
                                            </div><b class="n-card-list__title">Ничего не найдено</b>
                                            <div class="n-card-list__text n-card-list__text--secondary">
                                                <p>Возможно, вы задали жесткие условия поиска, попробуйте изменить параметры фильтров.</p>
                                            </div>
                                        </div>
                                    </div>
                                </main>
                            </div>
                            <div class="page__col col">
                                <div class="card-list card-list--map">
                                    <div class="card__map card__map--demo"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </section>

        <script src="static/js/separate-js/swiper-4.4.6/js/swiper.min.js"></script>

        <script src="static/js/main.min.js"></script>
    </body>

</html>

markup/pages/card-list-empty.pug
doctype html
html(class="no-js", lang="ru")

  include ../components/head/head.pug
  include ../components/foot/foot.pug
  include ../components/header/header.pug
  include ../components/footer/footer.pug
  include ../components/card/card.pug

  head
    +head(head.defaults)
  body.page.page--card-list.br.no-branding
    |%=symbols=%
    section.pn2-section-main.d-flex
      section.page__wrapper
        //- +header()
        div.page__content
          div.container-fluid.--extend-space
            div.page__row.row
              div.page__col.col

                main.page__main.--overhide(id="main")
                  nav.page__breadcrumb(aria-label="breadcrumb")
                    div.n-breadcrumb
                      ul.n-breadcrumb__list
                        li.n-breadcrumb__item
                          a.n-breadcrumb__link(href="#", title="Москва") Москва
                        li.n-breadcrumb__item.is-active
                          a.n-breadcrumb__link(href="#", title="Новостройки") Новостройки

                  div.n-card-list.n-card-list--empty
                    div.n-card-list__body
                      div.n-card-list__media
                        img.n-card-list__img(src="%=static=%img/assets/card-list/404-img.svg",
                          height="73px",
                          width="73px",
                          alt="Ничего не найдено")
                      b.n-card-list__title Ничего не найдено
                      div.n-card-list__text.n-card-list__text--secondary
                        p Возможно, вы задали жесткие условия поиска, попробуйте изменить параметры фильтров.

              div.page__col.col
                div.card-list.card-list--map
                  div.card__map.card__map--demo

        //- +footer()

    +foot()
